

#braldop_message {
	position : fixed;
	left: 10px;
	bottom: 10px;
	border-radius: 10px;
	font-size: 16px;
	color: white;
	background-color:#C33;
	padding: 5px;
	z-index: 10009;
}

#braldop_message_controls {
	width: 100%;
}

#braldop_message_opener {
	cursor: pointer;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

#braldop_message_deleter {
	display: none;
	cursor: pointer;
}

#braldop_message_content {
	border-radius: 8px;
	background-color:#A11;
	display: none;
	padding: 15px;
	margin: 5px;
}

#bra_map_settings {
	position: absolute;
	right: 330px;
	top: 140px;
	border-radius: 3px;
	z-index: 40;
	background: #4c712c url(http://static.braldahim.com/images/layout/fond.jpg) repeat-x;
	padding: 5px;
	text-align: right;
}

#bra_triangle_vues {
	cursor: pointer;
	display: none;
}

#bra_menu {
	display: none;
	margin-top:5px;
}

img.goto {
	border-radius: 8px;
    box-shadow: 0px 0px 6px red;
    opacity: 0.5;
    cursor: pointer;
}
img.goto:hover {
	border-radius: 8px;
    box-shadow: 0px 0px 12px red;
}
